<div class="section"
(mouseleave) ="stateReset()"
(click) ="stateChange()">
    <div>
        <h1>{{section.getHeader()}}</h1>
        <ul>
            <li *ngFor="let skillset of section.getList()">
                {{skillset.getText(section.getLanguage())}}
                <ul *ngIf="skillset.isParent()">
                    <li *ngFor="let skill of skillset.getChildren()">
                        {{skill.getText(section.getLanguage())}}
                        <img *ngIf="skill.isParent()" 
                        src='/assets/images/expand-arrow.png' alt="expand"
                        (mouseenter) ="stateChange()"
                        (click) ="stateChange()">

                        <div *ngIf="skill.isParent()">
                            <div *ngFor="let proof of skill.getChildren()" 
                              class="hiding"
                              [@mouseEvent]="state">
                                <ul>
                                    <li>
                                        <a
                                          [href]="proof.getChildren()[0].getText(section.getLanguage())"
                                          target="_blank">
                                            {{proof.getText(section.getLanguage())}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
