::ng-deep div.section {
    overflow: auto;
    clear: both;
    margin: 5px auto;
    border-radius: 15px;
    border: 2px solid rgb(192, 192, 192);
    background-color: rgb(240, 240, 240);
    padding: 20px; 
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Arial";
    font-size:1em;
    text-shadow:    -0.01vw 0 0.01vw black,
                    0 0.01vw 0.01vw black,
                    0.01vw 0 0.01vw black,
                    0 -0.01vw 0.01vw black;
}