<app-language-chage></app-language-chage>
<div class="container"
  [@visibility]="animator.visibility"
  (@visibility.done)="animator.changeLanguage($event)">
    <app-personal-details 
      [languageIndex]="animator.languageIndex">
    </app-personal-details>
    <app-career-aims 
      [languageIndex]="animator.languageIndex">
    </app-career-aims>
    <app-education 
      [languageIndex]="animator.languageIndex">
    </app-education>
    <app-key-skills 
      [languageIndex]="animator.languageIndex">
    </app-key-skills>
    <app-additional-info 
      [languageIndex]="animator.languageIndex">
    </app-additional-info>
    <app-personal-data-protection-clause 
      [languageIndex]="animator.languageIndex">
    </app-personal-data-protection-clause>
</div>