.photo {
    width: 20vw;
    min-width: 150px;
    min-height: 150px;
    height: 20vw;
    border-radius: 15px;
    border: 2px solid rgb(192, 192, 192);
    display: flex;
    align-items: center;
    justify-content: center;
}